
{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block title %} mineral details{% endblock %}
{% block content %}
<div class="grid-100">
   <div class="grid-100 mineral__container">
      <h1 class="mineral__name">{{ mineral.name|title }}</h1>
      <div class="mineral__image-bg">
        <img class="mineral__image" src="{% static 'images/'%}{{ mineral.name}}.jpg"/>
        <p class="mineral__caption"> {{ mineral.image_caption }}</p>
      </div>
       <div class="mineral__table-container">
        <table class="mineral__table">
         <tr>
            <td class="mineral__category">Category</td>
            <td>{{ mineral.category }}</td>
          </tr>
          <tr>
            <td class="mineral__category">Formula</td>
            <td class="mineral__formula">{{ mineral.formula }}</td>
          </tr>
          <tr>
            <td class="mineral__category">Strunz Classification</td>
            <td>{{ mineral.strunz_classification }}</td>
          </tr>
          <tr>
            <td class="mineral__category">Unit Cell</td>
            <td>{{ mineral.unit_cell }}</td>
          </tr>
          <tr>
            <td class="mineral__category">Color</td>
            <td> {{ mineral.color }}</td>
          </tr>
          <tr>
            <td class="mineral__category">Crystal Habit</td>
            <td>{{ mineral.crystal_habbit }}</td>
          </tr>
          <tr>
            <td class="mineral__category">Mohs Scale Hardness</td>
            <td>{{ mineral.specific_gravity }}</td>
          </tr>
        </table>
      </div>
   </div>
</div>
{% endblock %}
